body 
{
    background-color: lightslategrey;
    text-align: center;
    font-family: serif;
}


#serv {
   
}

#page-header {
    background-color: white;
    width: 100%;
    position: sticky;
    border: 5px black groove;
}

ul {
   left: 100px;
   text-align: left;
}
