body 
{
    background-color: whitesmoke;
    text-align: center;
    font-family: serif;
}

#page-header {
    background-color: black;
    width: 100%;
    border: 5px black groove;
    position: sticky;
    top:0;
}

ul {
   left: 100px;
   padding-left: 400px;
   border: 10px black;
   text-align: left;
   font-size: 22px;
   font-style: italic;
}

p {
    font-size: 12px;
    font-weight: 100;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-style: ;
}
